macs2
graphviz
r-tidyverse
r-base
r-seurat
r-seuratobject
r-signac
r-matrix
snakemake<8
r-hdf5r
r-ggplot2
r-ggrepel
r-plotly
r-patchwork
r-devtools
r-remotes
bioconductor-bsgenome.hsapiens.ucsc.hg38
bioconductor-biovizbase
bioconductor-ensembldb
bioconductor-ensdb.hsapiens.v86
bioconductor-limma
bioconductor-ensdb.mmusculus.v79
bioconductor-genomicranges
bioconductor-glmgampoi
samtools
r-data.table
bioconductor-rhdf5
python
ipython
pandas
rst2html5
alabaster
