macs2
graphviz
r-tidyverse
r-base=4.3.2
r-seurat=4.4.0
r-seuratobject=4.1.4
r-signac<=1.10
r-matrix=1.6-1.1
snakemake<8
r-hdf5r
r-ggplot2
r-ggrepel
r-plotly
r-patchwork
r-devtools
r-remotes
bioconductor-bsgenome.hsapiens.ucsc.hg38
bioconductor-biovizbase
bioconductor-ensembldb
bioconductor-ensdb.hsapiens.v86
bioconductor-limma
bioconductor-ensdb.mmusculus.v79
bioconductor-genomicranges
samtools
r-data.table
bioconductor-rhdf5
python
pandas
rst2html5
alabaster
