r-base=4.3.2
r-tidyverse
r-markdown
r-bh
r-dbi
r-fnn
r-kernsmooth
r-mass
r-matrix=1.6-1.1
r-matrixmodels
r-r6
r-rann
r-rcolorbrewer
r-rocr
r-rspectra
r-rcpp
r-rcppannoy
r-rcppeigen
r-rcppprogress
r-rdpack
r-rtsne
r-seurat=4.4.0
r-seuratobject=4.1.4
r-sparsem
r-tfisher
r-th.data
r-askpass
r-ape
r-assertthat
r-backports
r-base64enc
r-bibtex
r-bitops
r-boot
r-broom
r-catools
r-callr
r-cellranger
r-cli
r-clipr
r-cluster
r-codetools
r-colorspace
r-cowplot
r-crayon
r-crosstalk
r-curl
r-data.table
r-desc
r-dbplyr
r-digest
r-dqrng
r-ellipsis
r-evaluate
r-farver
r-fansi
r-fitdistrplus
r-forcats
r-fs
r-future
r-future.apply
r-gbrd
r-gdata
r-ggplot2
r-generics
r-ggrepel
r-ggridges
r-globals
r-glue
r-gplots
r-gridextra
r-gtable
r-gtools
r-haven
r-hexbin
r-highr
r-hms
r-htmltools
r-htmlwidgets
r-httr
r-ica
r-igraph
r-isoband
r-jsonlite
r-knitr
r-labeling
r-later
r-lattice
r-lazyeval
r-leiden
r-lifecycle
r-listenv
r-lmtest
r-lsei
r-lubridate
r-metap
r-mgcv
r-mime
r-mnormt
r-modelr
r-multcomp
r-munsell
r-mutoss
r-mvtnorm
r-nlme
r-npsurv
r-numderiv
r-openssl
r-patchwork
r-pbapply
r-pillar
r-pkgbuild
r-pkgconfig
r-pkgload
r-plogr
r-plotly
r-plotrix
r-plyr
r-png
r-praise
r-prettyunits
r-processx
r-progress
r-promises
r-ps
r-purrr
r-quantreg
r-rappdirs
r-readxl
r-rematch
r-reprex
r-reshape2
r-reticulate
r-rlang
r-rmarkdown
r-rprojroot
r-rstudioapi
r-rsvd
r-rvest
r-sandwich
r-scales
r-sctransform
r-selectr
r-sitmo
r-sn
r-survival
r-sys
r-testthat
r-tidyselect
r-tinytex
r-tsne
r-utf8
r-uwot
r-vctrs
r-viridislite
r-whisker
r-withr
r-writexl
r-xfun
r-xml2
r-yaml
r-zoo
r-biocmanager
bioconductor-biobase
bioconductor-biocgenerics
bioconductor-multtest
r-signac<=1.10
umap-learn
